{% extends 'base.html' %}


{% block content %}
<!-- Pergunta: Continuar cadastro ou Seguir para Página Principal -->
<div class="row d-flex justify-content-center" style="width: 100%;">
    <div class="b-main-container">
        <h2>Qual será seu próximo passo?</h2> <br> <br>
        <div class="b-container">
            <!-- Terminar cadastro de usuário -->
            <a href="{% url 'perfil:atualizar' %}" class="b-link">
                <button class="butom-loger">Termine seu cadastro</button>
            </a>
            <!-- Ir para Página Inicial -->
            <a href="{% url 'produto:lista' %}" class="b-link">
                <button class="butom-loger">Página Principal</button>
            </a>
            
        </div>
    </div>
</div>

{% endblock %}