{% extends 'base.html' %}
{% load omfilters %}

{% block content %}


<div class="content" style="display:flex; flex-direction:column; align-items: center;">

    <div class="informacoes-basicas" 
        style="
        border-radius: 10px;
        margin-bottom: 10px;
        border: 2px solid rgba(128, 128, 128, 0.556);
        padding: 20px;
        width: 80%;
        padding: 40px;
        ">
        <h4 style="text-align: center; margin-bottom: 40px;">Informacões Básicas</h4>
        <div class="grid-content"
        style="display: flex; 
        flex-direction: row;
        flex-wrap: wrap;"> 
            <span style="padding: 10px 20px;"><strong>Usuário:</strong> {{user.perfil.usuario}}</span>
            <span style="padding: 10px 20px;"><strong>Nome Completo:</strong> {{user.first_name}} {{user.last_name}}</span>
            <span style="padding: 10px 20px;"><strong>CPF:</strong> {{user.perfil.cpf|formata_cpf}}</span>            
            <span style="padding: 10px 20px;"><strong>Data de Nascimento:</strong> {{user.perfil.data_nascimento}}</span> 
            <span style="padding: 10px 20px;"><strong>Idade:</strong> {{user.perfil.idade}}</span>           
        </div>
    </div>
    
    <div class="informacoes-endereco" 
        style="
        border-radius: 10px;
        margin-bottom: 10px;
        border: 2px solid rgba(128, 128, 128, 0.556);
        padding: 20px;
        width: 80%;        
        padding: 40px;
        ">
        <h4 style="text-align: center; margin-bottom: 40px;">Endereço</h4>
        <div class="grid-content"
            style="display: flex; 
            flex-direction: row;
            flex-wrap: wrap;">
            <span style="padding: 10px 20px;"><strong>Rua:</strong> {{user.perfil.endereco}} </span> 
            <span style="padding: 10px 20px;"><strong>Bairro:</strong> {{user.perfil.bairro}} </span> 
            <span style="padding: 10px 20px;"><strong>Numero:</strong> {{user.perfil.numero}} </span> 
            <span style="padding: 10px 20px;"><strong>Cidade:</strong> {{user.perfil.cidade}} </span> 
            <span style="padding: 10px 20px;"><strong>CEP:</strong> {{user.perfil.cep|formata_cep}} </span>
            <span style="padding: 10px 20px;"><strong>Estado:</strong> {{user.perfil.estado}} </span> 
            <span style="padding: 10px 20px;"><strong>Complemento:</strong> {{user.perfil.complemento}} </span>
        </div>
    </div>
    
    <!-- Script de confirmação de exclusão de usuário -->
    <script>
        function exclui_usuario() {
        if (confirm("Quer realmente excluir este usuário?") == true) {
            return true
        } else {
            return false
        }
        document.getElementById("demo").innerHTML = text;
                            }
    </script>


    <div 
    style="
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        min-width: 60%;
        ">
        <a href="{% url 'perfil:atualizar' %}">
            <button class="btn btn-primary">Atualizar seus dados</button>
        </a>
        <a href="#">
            <button 
            class="btn btn-primary" 
            style="background-color:rgb(255, 60, 0);
            "
            onclick="return exclui_usuario()">
            <!-- Adicionar Script de confirmação -->
            Deletar usuário</button>
        </a>
    </div>
    

</div>

{% endblock %}