{% extends 'base.html' %}
{% load omfilters %}


{% block content %} 

<div class="box">
    <div class="menu">
        
        <div class="card-user">
            <!-- IMAGEM DO CARD -->
            <div class="image-card-user">
                <img src="https://cdn-icons-png.flaticon.com/512/6073/6073873.png" alt="Imagem de usuário vazio">
            </div>
            
            <div  class="info-card-user">
                <h6>{{user.username}}</h6>
                <div class="icons-card-user">
                <!-- ICONE DE EDITAR PERFIL -->
                <a href="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>
                </a>
                <!-- ICONE DE EXCLUIR PERFIL -->
                <a href="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-x" viewBox="0 0 16 16">
                        <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                        <path fill-rule="evenodd" d="M12.146 5.146a.5.5 0 0 1 .708 0L14 6.293l1.146-1.147a.5.5 0 0 1 .708.708L14.707 7l1.147 1.146a.5.5 0 0 1-.708.708L14 7.707l-1.146 1.147a.5.5 0 0 1-.708-.708L13.293 7l-1.147-1.146a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </a>
                </div>
            </div>
        </div>
        <!-- Colaose Menu da barra lateral esqueda da página -->
        <div class="links-user">
            
            <details>                      
                <summary>Minha Conta</summary>
                <ul>
                    <a href="#form-user-id"><li>Perfil</li></a>
                    <a href="#"><li>Cartões / Contas Bancárias</li></a>
                    <a href="#form-adress-id"><li>Endereço</li></a>
                    <a href="#form-password-change">Mudar Senha</a>
                </ul>
            </details>
        </div>

    </div>
    <div class="info">

        <div class="forms-info">
            <!-- Formulario de Informações do usuário -->
            <div class="form-user" id="form-user-id">
                <h3 class="mb-4">Informações de Usuário</h3>
                <form action="{% url 'perfil:update_user_info' %}" method="POST">
                    {% csrf_token %}
                    <div class="input-group mb-2">
                        <span class="input-group-text" id="basic-addon3" style="min-width: 180px;">Primeiro Nome: </span>
                        <input type="text" class="form-control" id="first_name" name="first_name" value="{{ user.first_name }}"aria-describedby="basic-addon3" placeholder="Digite seu primeiro nome" required>
                    </div>

                    <div class="input-group mb-2">
                        <span class="input-group-text" id="basic-addon3" style="min-width: 180px;">Sobrenome: </span>
                        <input type="text" class="form-control" id="last_name" name="last_name" value="{{ user.last_name}}" aria-describedby="basic-addon3" placeholder="Digite seu sobrenome" required>
                    </div>
                    
                    <div class="input-group mb-2">
                        <span class="input-group-text" id="basic-addon3" style="min-width: 180px;">Data de Nascimento: </span>
                        <input type="date" class="form-control" id="data_nascimento" name="data_nascimento" value="{{perfil.data_nascimento}}" aria-describedby="basic-addon3" placeholder="Digite sua data de nascimento" required>
                    </div>
                    
                    <div class="input-group mb-2">
                        <span class="input-group-text" id="basic-addon3" style="min-width: 180px;">CPF: </span>
                        <input type="text" class="form-control" id="cpf" name="cpf" value="{{perfil.cpf}}" aria-describedby="basic-addon3" placeholder="Digite seu CPF" maxlength="11" required>
                    </div>

                    <div class="row d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary px-4 mx-3">Guardar</button>
                    </div>
                </form>
            </div>

            <!-- Formulario de Endereço -->
            <div class="form-user" id="form-adress-id">
                <h3 class="mb-4">Informações de Endereço</h3>
                <form action="#" method="post">
                    {% csrf_token %}
                    <div class="input-group mb-2">
                        <span class="input-group-text" id="basic-addon3" style="min-width: 180px;">Rua: </span>
                        <input type="text" class="form-control" id="rua" name="rua" value="" aria-describedby="basic-addon3" placeholder="Digite o nome da sua rua" required>
                    </div>
                    <div class="input-group mb-2">
                        <span class="input-group-text" id="basic-addon3" style="min-width: 180px;">Bairro: </span>
                        <input type="text" class="form-control" id="bairro" name="bairro" value="" aria-describedby="basic-addon3" placeholder="Digite o seu bairro" required>
                    </div>
                    <div class="input-group mb-2">
                        <span class="input-group-text" id="basic-addon3" style="min-width: 180px;">Numero: </span>
                        <input type="text" class="form-control" id="numero" name="numero" value="" aria-describedby="basic-addon3" placeholder="Digite o numero da sua casa" required>
                    </div>
                    <div class="input-group mb-2">
                        <span class="input-group-text" id="basic-addon3" style="min-width: 180px;">Cidade: </span>
                        <input type="text" class="form-control" id="cidade" name="cidade" value="" aria-describedby="basic-addon3" placeholder="Digite sua cidade" required>
                    </div>
                    <div class="input-group mb-2">
                        <span class="input-group-text" id="basic-addon3" style="min-width: 180px;">CEP: </span>
                        <input type="text" class="form-control" id="cep" name="cep" value="" aria-describedby="basic-addon3" placeholder="Digite o seu CEP" required>
                    </div>
                    <div class="input-group mb-2">
                        <span class="input-group-text" id="basic-addon3" style="min-width: 180px;">Complemento: </span>
                        <input type="text" class="form-control" id="complemento" name="complemento" value="" aria-describedby="basic-addon3" placeholder="" required>
                    </div>

                    <div class="input-group mb-2">
                        <span class="input-group-text" id="basic-addon3" style="min-width: 180px;">Estado: </span>
                        <select name="select-estado" id="select" class="form-select">
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espirito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraiba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Paiuí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondonia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                        </select>
                    </div>
                    
                    <div class="row d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary px-4 mx-3">Guardar Endereço</button>
                    </div>

                </form>
            </div>

            <!-- Formulário para Troca de Senha -->
            <div class="form-user" id="form-password-change">
                <h3 class="mb-4">Trocar Senha</h3>
                <form action="#" method="post">
                    {% csrf_token %}
                    <div class="input-group mb-2">
                        <span class="input-group-text" id="basic-addon3" style="min-width: 180px;">Senha Antiga: </span>
                        <input type="password" class="form-control" id="old_password" name="old_password" value="" aria-describedby="basic-addon3" placeholder="" required>
                    </div>
                    <div class="input-group mb-2">
                        <span class="input-group-text" id="basic-addon3" style="min-width: 180px;">Nova Senha: </span>
                        <input type="password" class="form-control" id="new_password" name="new_password" value="" aria-describedby="basic-addon3" placeholder="" required>
                    </div>
                    <div class="input-group mb-2">
                        <span class="input-group-text" id="basic-addon3" style="min-width: 180px;">Senha Antiga: </span>
                        <input type="password" class="form-control" id="new_password_confirm" name="new_password_confirm" value="" aria-describedby="basic-addon3" placeholder="" required>
                    </div>

                    <div class="row d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary px-4 mx-3">Mudar senha</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

{% endblock %}