{% load static %}

<div
      style="
      min-width: 100vw;
      display: flex; 
      justify-content: center;">

  <div id="carouselExampleIndicators" 
  class="carousel slide" 
  data-ride="carousel"
  style="min-height: 50vh;
         min-width: 50vw; ">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active" style="display:flex; justify-content:center;">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://www.shutterstock.com/image-vector/wholesale-package-logistics-outline-icon-260nw-1833259351.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="carousel-item" style="display:flex; justify-content:center;">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-muKoaU4sY46uqUerm3TuVPnSC9B_CjKu9Fjk03__KlZ92WzSQFerbhJlMHoFCU5yPaw&usqp=CAU" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="carousel-item" style="display:flex; justify-content:center;">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-muKoaU4sY46uqUerm3TuVPnSC9B_CjKu9Fjk03__KlZ92WzSQFerbhJlMHoFCU5yPaw&usqp=CAU" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

</div>

