/* Style do arquivo de template - detalhe-perfil.html */
:root{
    --border-format: 1px solid grey; 
    --min-heigth-page: 110vh;
    --nav-color-page: #7DE5ED;
    --background-color-page: #81C6E8;
    --shadow-color-page: #5DA7DB;
    --border-color-page: #5837D0;
  }
  
  html {
    font-family: sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
    color: var(--border-color-page);
  }

  h1, h2, h3, h4, h5, h6, span, label {
    color: var(--border-color-page);
  }
  
  .box {
    background-color: var(--background-color-page);
    min-width: 100%;
    min-height: var(--min-heigth-page);
    display: grid;
    grid-template-columns: 1fr 4fr;
  }
  
  .menu {
    min-height: var(--min-heigth-page);
  }
  
  .card-user {
    box-shadow: var(--shadow-color-page) 0px 3px 8px;
    border: 2px solid var(--border-color-page);
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 2fr;
    font-size: 10px;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    margin-top: 20px;
    height: fit-content;
  }
  
  .image-card-user {
    display: flex;
    flex-direction: column;
    justify-items: center;
    user-select: none;
    min-width: 20%;
    height: auto;
  }
  
  .info-card-user {
    padding-left: 10px;
  }
  
  .info-card-user h6 {
    font-size: large;
    color: var(--border-color-page);
    margin-bottom: 10px;
    user-select: none;
  }
  
  .icons-card-user {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .icons-card-user a {
    color: var(--border-color-page);
    padding: 2px 4px;
    border-radius: 5px;
  }
  
  .icons-card-user a:hover {
    color: var(--background-color-page);
    transition: 0.5s;
  }
  
  .card-user img{
    width: 90%;
    height: auto;
    opacity: 50%;
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 50%;
  }
  
  
  /* collapse - menu lateral */
  .links-user {
    font-size: 14px;
    padding-left: 10px;
    margin-top: 10px;
  }
  
  .links-user summary {
    margin-top: 25px;
    list-style: none;
    cursor: pointer;
    font-weight: bold;
    color: var(--border-color-page);
    text-decoration: underline;
    user-select: none;
  }
  
  .links-user ul {
    background-color: var(--shadow-color-page);
    list-style: none;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
  }
  
  .links-user ul li {
    margin-bottom: 5px;
  }
  
  .links-user a {
    color: var(--border-color-page);
    text-decoration: none;
  }
  
  .links-user a:hover {
    transition: 0.3s ease-in-out;
    text-decoration: underline;
  }
  
  .info {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 5px;
    min-height: var(--min-heigth-page);
    font-size: small;
  }
  
  
  .photo-info {
    
  }
  
  .card-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 80%;
    height: 50%;
    margin: 20px 10px;
    border-radius: 10px;
    box-shadow: var(--shadow-color-page) 0px 3px 8px;
    border: 2px solid var(--border-color-page);
    background-color: white;
    font-size: small;
    color: var(--border-color-page)
  }
  
  .card-photo img {
    margin-top: 20px;
    width: 90%;
    height: auto;
    opacity: 0.5;
  }
  
  .card-photo span {
    margin-top: 10px;
  }
  
  .forms-info {
    height: var(--min-heigth-page);
    overflow:auto;
    scroll-behavior: smooth;
    scroll-padding-top: 20px; 
  } 
  
  .form-user {  
    background-color: white;
    margin: 20px 5px;
    border-radius: 10px;
    padding: 10px 20px;
  }
  
  form .form-div {
    margin-bottom: 10px;
    display: grid;
    gap: 4px;
    align-items: center;
    grid-template-columns: 1fr 3fr;
    text-justify: center;
  }
  
  form .form-div input {
    border-radius: 5px;
    border: 2px solid var(--border-color-page);
    height: 25px;
    color: var(--border-color-page);
  }
  
  
  form .form-div select {
    color: var(--border-color-page);
    border: 2px solid var(--border-color-page);
    border-radius: 5px;
    height: 25px;
  }
  
  form .form-div input:focus {
    box-shadow: var(--shadow-color-page) 0px 3px 8px;
  }
  
  form .form-div input::placeholder{
    font-size: smaller;
    font-style: italic;
    color: var(--border-color-page);
    opacity: 0.5;
  }
  
  form .b-submmit {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
  }
  
  form .b-submmit button {
    border: 2px solid var(--border-color-page);
    color: var(--border-color-page);
    background-color: white;
    border-radius: 2px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 12px;
  }
  
  form .b-submmit button:hover {
    background-color: var(--background-color-page);
    color: white;
    transition: 0.2s ease-in;
  }
  