{% extends 'base.html' %}
{% load humanize %}
{% load omfilters %}

{% block content %}

<style>
    .detalhe {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
    }
</style>

<div class="detalhe">

    <div class="row">
        <div class="col d-flex justify-content-center align-items-center" style="height: 100vh">
            <!-- Imagem do Produto -->
            {% if produto.imagem %}
            <img src="{{ produto.imagem.url }}" 
            class="img-fluid img-thumbnail" style="width: 80%; height: 80%;" alt="...">
            {% endif %}
        </div>
        <div class="col-lg">
            <div class="mt-5 mt-lg-0">
                <h3 class="mb-5 mt-5">{{ produto.nome }}</h3>

                <div class="content mb-3">
                    <p class="text-justify">
                        {{ produto.descricao_curta }}
                    </p>
                </div>

                <p class="lead">
                    {% if produto.preco_marketing_promocional %}
                        <span class="lead product-price" id="variation-preco">
                            {{ produto.preco_marketing_promocional|formata_preco }}
                        </span>
                        <span class="lead product-old-price text-muted"
                            id="variation-preco-promocional">
                            {{ produto.preco_marketing|formata_preco }}
                        </span>
                    {% else %}
                    <span class="lead product-price">
                        {{ produto.preco_marketing|formata_preco }}
                    </span>
                    {% endif %}
                </p>
                
                
                <form action="{% url 'produto:adicionaraocarrinho' %}" id="form-add-to-cart">
                
                    <div class="form-group">
                        {% if produto.variacao_set.all %}
                        <select class="form-control form-control-lg" style="width:58%" id="select-variacoes" name="vid">
                            {% for variacao in produto.variacao_set.all %}
                                {% if variacao.preco_promocional %}
                                    <option data-preco="{{ variacao.preco|formata_preco }}"
                                            data-preco-promocional="{{ variacao.preco_promocional|formata_preco }}"
                                            value="{{ variacao.id}}" style="padding: 10px;">
                                    {% if variacao.nome %}
                                        {{ variacao.nome }}
                                    {% else  %}
                                        {{ variacao  }}
                                    {% endif  %}
                                    </option>
                                {% else %}
                                    <option data-preco="{{ variacao.preco|formata_preco }}"
                                            value="{{ variacao.id}}"
                                            style="padding: 10px;">
                                    {% if variacao.nome %}
                                        {{ variacao.nome }}
                                    {% else  %}
                                        {{ variacao }}
                                    {% endif  %}
                                    </option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        {% endif %}
                    </div>

                <!-- Botões de Comprar ou Adicionar ao Carrinho -->
                <div class="content d-flex justify-content-start mb-5" style="width: 100%;">
                    <!-- <a href="{% url 'produto:comprar' %}">
                        <button class="btn btn-primary" type="button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
                                <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
                            </svg>
                            Comprar</button> 
                    </a> -->
                    <button class="btn btn-outline-primary ml-2" type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                        </svg>
                        Adicionar ao Carrinho</button>
                </div>

                </form>


            </div>
        </div>
    </div>

    <div class="row" style="min-height: 100vh;">
        <div class="col"></div>
        <div class="col-8">
            <div class="mt-5 mb-5">
                <h2 class="text-center mt-5 mb-5">{{ produto.nome }}</h2>
                <p class="text-justify">
                    {{ produto.descricao_longa|linebreaks }}
                </p>
            </div>
        </div>
        <div class="col"></div>
    </div>

    <div class="row" style="min-height: 100vh;">
        <div class="col"></div>
        <div class="col-8">
            <div class="mt-5 mb-5">
                <h2 class="text-center mt-5 mb-5">Avaliações</h2>
                
                <div class="row mb-4">
                    <h4 class="mx-4">Deixe sua avaliação</h4>
                    <form action="{% url 'produto:comentar' %}" class="mx-4" method="POST">
                        {% csrf_token %}
                        <div class="row mx-auto mb-2">                           
                            <textarea class="ms-2" name="comentario" id="comentario" cols="105" rows="5" placeholder="Insira seu comentário ..."></textarea>
                        </div>
                        <div class="row">
                            <div class="col d-flex justify-content-end">
                                <button class="btn btn-primary" type="submit">Comentar</button>
                            </div>
                        </div>
                    </form>
                </div>
                {% for comentario in comentarios %}
                <div class="row mb-2">
                    <div class="col border mx-4" style="border-radius: 10px;">
                        <div class="row border-bottom py-2" style="background-color: rgba(128, 128, 128, 0.493);">
                            <div class="col py-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                                </svg>
                                <span>{{comentario.usuario_comentario}}</span>
                            </div>
                            <div class="col py-2">
                                <div class="row d-flex justify-content-end">
                                    <span class="px-2">{{ comentario.data_comentario|naturalday|title }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-1">
                            <div class="col">
                                <p class="text-justify">
                                    {{comentario.comentario}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
        <div class="col"></div>
    </div>

</div>



{% endblock %}